In [136]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.metrics import mean_squared_error
from sklearn.neural_network import MLPRegressor
from sklearn.model_selection import train_test_split

In [137]:
# Chargez le fichier CSV dans un DataFrame Pandas
df = pd.read_csv('./src/datasets/csv/valeurs_foncieres_affichage.csv', encoding='utf-8', dtype={'code_commune': str, 'code_departement': str})
# Supprimer la colonne inutile "Unnamed: 0"
df = df.drop(columns=['Unnamed: 0'])

In [138]:
# Convertir la variable 'type_local' en variables indicatrices
df = pd.get_dummies(df, columns=['type_local'])

In [139]:
# Convertir les variables 'code_commune' et 'code_departement' en catégories ordinales
df['code_commune'] = df['code_commune'].astype('category')
df['code_departement'] = df['code_departement'].astype('category')
df['code_commune'] = df['code_commune'].cat.codes
df['code_departement'] = df['code_departement'].cat.codes

In [140]:
df.head()

,date_mutation,valeur_fonciere,code_commune,code_departement,surface_reelle_bati,nombre_pieces_principales,surface_terrain,type_local_Appartement,type_local_Maison
0,2018-07-02,360000.0,1593,0,170.0,7.0,3789.0,False,True
1,2018-07-02,360000.0,1593,0,170.0,7.0,500.0,False,True
2,2018-07-02,360000.0,1593,0,170.0,7.0,1500.0,False,True
3,2018-07-05,190000.0,1436,0,90.0,4.0,903.0,False,True
4,2018-07-04,220000.0,1524,0,99.0,3.0,818.0,False,True

In [141]:
# Convertir la colonne date_mutation en type datetime
df['date_mutation'] = pd.to_datetime(df['date_mutation'])

In [142]:
# Créer une nouvelle colonne pour le mois et l'année uniquement
df['mois_annee'] = df['date_mutation'].dt.to_period('M')

# Convertir la colonne mois_annee en chaîne de caractères (str)
df['mois_annee_str'] = df['mois_annee'].astype(str)

# Supprimer les colonnes inutiles
df = df.drop(columns=['date_mutation', 'mois_annee', 'mois_annee_str'])

In [143]:
df.head()

,valeur_fonciere,code_commune,code_departement,surface_reelle_bati,nombre_pieces_principales,surface_terrain,type_local_Appartement,type_local_Maison
0,360000.0,1593,0,170.0,7.0,3789.0,False,True
1,360000.0,1593,0,170.0,7.0,500.0,False,True
2,360000.0,1593,0,170.0,7.0,1500.0,False,True
3,190000.0,1436,0,90.0,4.0,903.0,False,True
4,220000.0,1524,0,99.0,3.0,818.0,False,True

In [144]:
df.dtypes

valeur_fonciere              float64
code_commune                   int32
code_departement                int8
surface_reelle_bati          float64
nombre_pieces_principales    float64
surface_terrain              float64
type_local_Appartement          bool
type_local_Maison               bool
dtype: object

In [145]:
# Diviser les données en variables explicatives (X) et la variable cible (y)
X = df.drop('valeur_fonciere', axis=1)
y = df['valeur_fonciere']

In [146]:
# Diviser les données en ensembles d'entraînement et de test
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [ ]:
train_losses = []
test_losses = []

In [ ]:
# Définir le nombre d'époques
epochs = 100

In [ ]:
for epoch in range(epochs):
    # Créer et entraîner le modèle de réseau de neurones
    model = MLPRegressor(hidden_layer_sizes=(100,), activation='relu', solver='adam', max_iter=42, random_state=42)
    # Entraînement du modèle
    model.fit(X_train, y_train)
    
    # Calculer la perte sur l'ensemble d'entraînement et de test
    train_loss = mean_squared_error(y_train, model.predict(X_train))
    test_loss = mean_squared_error(y_test, model.predict(X_test))
    
    # Enregistrer les pertes
    train_losses.append(train_loss)
    test_losses.append(test_loss)

In [ ]:
# Tracer l'évolution de la perte au cours des époques
plt.figure(figsize=(10, 5))
plt.plot(range(1, epochs + 1), train_losses, label='Train Loss', color='blue')
plt.plot(range(1, epochs + 1), test_losses, label='Test Loss', color='orange')
plt.title('Évolution de la Loss au cours de l\'entraînement')
plt.xlabel('Nombre d\'époques')
plt.ylabel('Loss')
plt.legend()
plt.show()

In [151]:
from keras.models import load_model

ModuleNotFoundError: No module named 'keras'

In [ ]:
# Enregistrer le modèle
model.save('model_V1.h5')